[all:vars]
ansible_user=lazzarello

[streaming_broadcast:vars]
internal_ip=10.0.1.9

[streaming_relay:vars]
internal_ip=10.0.1.9

[streaming_broadcast]
35.212.155.111

[streaming_relay]
35.212.161.51
